
body, h1, h2, h3, p, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    color: #333;
}

header hr {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #eee;
}


nav menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

menu a:hover {
    color: #777;
}


main {
    padding: 20px;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style product containers */
.product {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  }
  
  /* Style product images */
  .product img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Add a border around images */
  }
  
  /* Style "Add to Cart" buttons */
  .add-to-cart {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px; /* Add rounded corners to the button */
    transition: background-color 0.3s; /* Add a hover effect */
  }
  
  .add-to-cart:hover {
    background-color: #0056a7;
  }
  
  /* Style product paragraphs */
  .product p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }



main p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


footer {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer hr {
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

footer span {
    color: #555;
    font-size: 14px;
}

footer a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: #777;
}