
body, h1, h2, h3, p, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    color: #333;
}

header hr {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #eee;
}


nav menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* Style the shopping cart icon and counter */
#shopping-cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 10px;
  }
  
  #shopping-cart-icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  #cart-count {
    background-color: #0074d9; 
    color: #fff; 
    border-radius: 50%; 
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px; 
    right: 0px; 
    font-weight: bold;
  }

menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

menu a:hover {
    color: #777;
}


main {
    padding: 20px;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.product {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  
 
  .product img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; 
  }
  

  .add-to-cart {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  
  .remove-from-cart {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  .remove-from-cart:hover {
    background-color: #0056a7;
  }
  .add-to-cart:hover {
    background-color: #0056a7;
  }
  
 
  .product p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }

  #cart-notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
  }
  
  .notification {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
  }

main p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


footer {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer hr {
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

footer span {
    color: #555;
    font-size: 14px;
}

footer a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: #777;
}